#page-welcome-to-differentia ul li {
	margin: 7px 0px;
}

#page-welcome-to-differentia .video-placeholder-image {
	width: 100%;
	cursor: pointer;
}

#page-welcome-to-diffrentia .youtube-icon {
	width: 10%;
	cursor: pointer;
}
